<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.openhr.pm.mapper.PmUserMapper" >
  <resultMap id="BaseResultMap" type="com.openhr.pm.entity.PmUser" >
    <id column="FID" property="fid" jdbcType="VARCHAR" />
    <result column="FNUMBER" property="fnumber" jdbcType="VARCHAR" />
    <result column="FNAME" property="fname" jdbcType="VARCHAR" />
    <result column="FPASSWORD" property="fpassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FID, FNUMBER, FNAME, FPASSWORD
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.openhr.pm.entity.PmUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pm_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pm_user
    where FID = #{fid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pm_user
    where FID = #{fid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.openhr.pm.entity.PmUserExample" >
    delete from pm_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.openhr.pm.entity.PmUser" >
    insert into pm_user (FID, FNUMBER, FNAME, 
      FPASSWORD)
    values (#{fid,jdbcType=VARCHAR}, #{fnumber,jdbcType=VARCHAR}, #{fname,jdbcType=VARCHAR}, 
      #{fpassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.openhr.pm.entity.PmUser" >
    insert into pm_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        FID,
      </if>
      <if test="fnumber != null" >
        FNUMBER,
      </if>
      <if test="fname != null" >
        FNAME,
      </if>
      <if test="fpassword != null" >
        FPASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="fnumber != null" >
        #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fname != null" >
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fpassword != null" >
        #{fpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.openhr.pm.entity.PmUserExample" resultType="java.lang.Integer" >
    select count(*) from pm_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pm_user
    <set >
      <if test="record.fid != null" >
        FID = #{record.fid,jdbcType=VARCHAR},
      </if>
      <if test="record.fnumber != null" >
        FNUMBER = #{record.fnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.fname != null" >
        FNAME = #{record.fname,jdbcType=VARCHAR},
      </if>
      <if test="record.fpassword != null" >
        FPASSWORD = #{record.fpassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pm_user
    set FID = #{record.fid,jdbcType=VARCHAR},
      FNUMBER = #{record.fnumber,jdbcType=VARCHAR},
      FNAME = #{record.fname,jdbcType=VARCHAR},
      FPASSWORD = #{record.fpassword,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.openhr.pm.entity.PmUser" >
    update pm_user
    <set >
      <if test="fnumber != null" >
        FNUMBER = #{fnumber,jdbcType=VARCHAR},
      </if>
      <if test="fname != null" >
        FNAME = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fpassword != null" >
        FPASSWORD = #{fpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where FID = #{fid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.openhr.pm.entity.PmUser" >
    update pm_user
    set FNUMBER = #{fnumber,jdbcType=VARCHAR},
      FNAME = #{fname,jdbcType=VARCHAR},
      FPASSWORD = #{fpassword,jdbcType=VARCHAR}
    where FID = #{fid,jdbcType=VARCHAR}
  </update>
</mapper>